<h2> Redigerar Användare</h2>

<%= render :partial => 'form' %>

<p><table><tr>
<td class="nobg"><%= button_to 'Visa', @user, :method => :get %></td>
<td class="nobg"><%= button_to 'Tillbaka', users_path, :method => :get %></td>
</tr></table></p>
