<%# <h1>Länkar</h1> %>
<br>
<table>
  <tr>
    <th>Titel</th>
    <th>Länktyp</th>
    <th></th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%= link_to link.title, link %></td>
    <td><%= link.linktype.name if link.linktype.presence %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Ny länk', new_link_path, :method => 'get' if can? :create, Link %>

