<%# cache(["gi",params[:search],params[:page]]) do %>
<br>
<%# <h2>Färger</h2> %>

<table>
  <tr>
    <th>Namn</th>
    <th>Beskrivning</th>
  </tr>
  <% for color in @colors %>
    <tr>
      <td><%= link_to color.name, color %></td>
      <td align="center"><%  if color.desc.presence %>ja<%else%>nej<%end%></td>
    </tr>
  <% end %>
</table>

<p><%= button_to "Ny Färg", [:new, color], :method => 'get'  if can? :create, Color %></p>
