<p>V채lkommen <%= @resource.email %>!</p>

<p>Du kan bekr채fta ditt konto genom l채nken nedan:</p>

<p><%= link_to 'Bekr채fta mitt konto', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
