<h2>Ändra bild</h2>

<%= render :partial => 'form' %>

<p><table><tr>
<td class="nobg"><%= button_to "Visa", @image, :method => :get %>
<td class="nobg"><%= button_to "Visa alla", images_path, :method => :get %>
</tr></table>
</p>
