<!DOCTYPE html>
<html>
<head>
<link href="/stylesheets/chat.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/jquery-1.6.2.min.js type="text/javascript"></script>
<script src="/javascripts/jquery-rails.js type="text/javascript"></script>
<script src="/javascripts/jquery.scrollTo-1.4.2-min.js type="text/javascript"></script>
<script src="/javascripts/sprintf-0.6.js type="text/javascript"></script>
<script src="/javascripts/chat.js type="text/javascript"></script>

 <%#= stylesheet_link_tag "chat" %>
 <%#= javascript_include_tag "jquery-1.5.min jquery-rails" %>
 <%#= csrf_meta_tag %>
 <%#= yield(:head) %>
  </head>
  <body>
  <%= yield %>
  </body>
</html>
